* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #f7f9fb;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}
